<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="assets/img/iconosFlotantes/inicio.jpg" width="32" height="32">
            <p><a routerLink="/home">Home</a></p>
        </li>
        <li>
            <img src="assets/img/iconosFlotantes/adopcion.jpg" width="32" height="32">
            <p><a routerLink="/pagAdopcion">Adopción</a></p>
        </li>
        <li>
            <img src="assets/img/iconosFlotantes/noticiasFauna.jpg" width="32" height="32">
            <p><a routerLink="/fauna-silvestre">Fauna Silvestre</a></p>
        </li>
        <li>
            
            <img src="assets/img/iconosFlotantes/unidaMovil.jpg" width="32" height="32">
            <p><a routerLink="/unidadMovil">Unidad Movil</a></p>
        </li>
        <li>
            <img src="assets/img/iconosFlotantes/chip.jpg" width="32" height="32">
            <p><a routerLink="/buscarChip"> Buscar Microchip</a></p>
        </li>
        <li>
            <img src="assets/img/iconosFlotantes/eventos.jpg" width="32" height="32">
            <p><a routerLink="/pagEventos">Eventos Bienestar Animal</a></p>
        </li>
        
    </ul>
</div>