*{
  font-family: 'Montserrat', sans-serif;
}
.colorTitulos{
  color: #2db3bf !important;
}
.banner{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    background-size: cover;
}
.titulo{
    color: white; 
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
   }

  
 #header{
   background-color: #F9F8FC;
   height: 100px;
 }
