<div style=" background-image: url('assets/img/pagAdopcion/fondoHuellas.png');  background-attachment: fixed; ">  
<div class="row">
    <div class="col-lg-12" style="font-size: 30px; color: white; text-align: center; 
    font-weight: bold; background-color:#2db3bf;">
       Programa de Adopción Animal
    </div>  
</div> 
<div class="container mt-5">
    <div class="row" style="padding: 20px;">
        <div class="col-lg-12" style="background-image: linear-gradient(#88e5ee, rgb(245, 245, 241)); padding: 40px;">
            <h1 style="color: rgb(184, 7, 160); font-weight: bold; text-align: center;">PROGRAMA DE ADOPCIONES</h1>
                <p style="text-align: justify;"><br>
                   <!-- El programa de adopciones es uno de los más importantes de la Secretaria de Ambiente y Desarrollo Sostenible de la 
                    Gobernación de Nariño; a diario llegan a nuestras fundaciones aliadas perritos o gaticos víctimas de maltrato o 
                    abandono, a la espera de encontrar una familia responsable y amorosa que les brinde su cuidado y protección.<br>  
                   -->
                   El programa de adopción de la Gobernación de Nariño, consiste en una plataforma virtual qué ayuda y facilita el proceso de
                    adopción de animales de compañía, que necesitan un hogar. Esta plataforma les brinda a las organizaciones, fundaciones,
                     entidades públicas y privadas,  el poder colocar en adopción a todos los  animales de compañía, en condición de calle
                      y rescatados que tengan a su poder, y así aprovechar los medios virtuales y de fácil acceso. 
Aquí podrán encontrar a cada uno de los perros y gatos, que han sido rescatados, acogidos y puestos en hogares temporales mientras se 
encuentra
 un hogar y familia responsable para su cuidado, anímate ellos te están esperando. 
                    <br>
                    Los perros y gatos de nuestras fundaciones son entregados con compromiso de que sean esterilizados”
                    “Nos estaremos contactando para conocer y evidenciar el bienestar de la mascota y las condiciones generales de adaptación a su nuevo hogar.”
                                  
                </p>
                <hr>
                <div class="row" padding>                  
                      <div class="col-lg-7">
                        <h2 style="color: rgb(184, 7, 160); font-weight: bold; text-align: center;">
                            REQUISITOS PARA ADOPTAR UN ANIMAL DE COMPAÑIA</h2>   
                            <br>
                            <ul>
                                <li>Ser mayor de edad y presentar copia del documento de identidad</li>
                                <li>Disponer de tiempo para asistir a una entrevista y conocer sobre la adopción responsable</li>
                                <li> Ser una persona cariñosa y comprometida</li>
                        </ul> 
                      
                       
                      </div>

                      <div class="col-lg-5">
                        <img src="assets/img/adoptados/adopcion.jpg" class="imagen">
                      </div>
                </div>
                <hr>
                <div class="row" padding>                  
                    <div class="col-lg-12">
                        <h2 style="color: rgb(184, 7, 160); font-weight: bold; text-align: center;">
                        EL PROCESOS DE ADOPCIÓN ES EL SIGUIENTE</h2>  
                        <br>
                        <ul>
                            <li>Conoce nuestras mascotas para adopción en el link Mascotas para adoptar.</li>
                            <li>Escoge la mascota de tu agrado y dale clic para conocer su información.</li>
                            <li>Cuando selecciones la mascota dale clic en Adóptame.</li>
                            <li>Diligencia tus datos personales.</li>
                            <li>Realiza la solicitud.</li>
                            <li>La fundación encargada de la mascota se contactara contigo.</li>
                            <li>Firmaras un contrato de adopción.</li>
                            <li>La mascota seleccionada se entregara para que le brindes todo tu amor.</li>
                            <li>Nos estaremos contactando para evidenciar el bienestar de la mascota y las condiciones generales de adaptación al nuevo hogar.</li>
                       </ul> 
                       <br>
                       <div style="text-align: center; font-weight: 900; font-size: 22PX; color: rgb(243, 139, 54);">
                        ¡Porque tu eres parte de <span style="color: #2db3bf">#MINARIÑOSOSTENIBLE#</span> AYUDANOS A DEFENDER A NUESTROS ANIMALITOS!
                       </div>
 
                    </div>
                </div>
        </div>   
    </div><br>
</div> 
</div>
