<footer style="background-color:#2db3bf">
    <div class="row" style="margin: auto; padding: 20px;">
         <div class="col-lg-4">
            <div class="card" style="width: 4;">
                <div class="card-body">
                  <h3 class="card-title" class="colorTitulos">EN DEFENSA DE LO NUESTRO</h3>
                  <img src="assets/img/homePage/secretaria.jpg" style="width:100%" class="card-img-top" alt="...">
                  <br><br>
                  <button style="background-color: #2db3bf; color: white;" routerLink="/login-Admin" type="button" class="btn btn-info btn-lg btn-block">
                    Administrar</button>
                </div>
              </div>
         </div>    

         <div class="col-lg-8">
              <div class="card" style="width: 8;">
                <div class="card-body">
                  <h3 class="card-title" class="colorTitulos">Para radicar quejas, reclamos, sugerencias únicamente
                    a través de los correos electrónicos.</h3>
                  <p class="card-text"> 
                       Email: ambienteydesarrollo@narino.gov.co<br>
                     <hr>
                     <h4>PABLO FRANKLIN AGUIRRE TUTALCHA - Secretario de Ambiente y Desarrollo Sostenible</h4>
                    <hr>
                    <h3 class="colorTitulos">Copy Right © 2020</h3>
                    <img class="my-0 mr-md-auto font-weight-normal" src="assets/img/brand/icono.png" width="22%">

                    
                 </div>
              </div>
           
        </div> 
    </div>
 </footer> 