<div class="row">
    <div class="col-lg-12" style="padding: 40px;">
        <app-menu-admin></app-menu-admin>
    </div>
</div>
<hr>
<div class="row" class="fondo"> 
   <div class="col-lg-12" style="font-size: 30px; color: white; text-align: center; 
   font-weight: bold; background-color:#2db3bf;">
      Modulo Unidad Movil
   </div>  
</div>


<div class="container">

    
    <div class="row">
        <div class="col-lg-12 mt-5">
            <div class="alert alert-danger" role="alert">
                <h3 style="color: white;"> NOMBRE: {{ razonSocial | uppercase}} </h3>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                       
                            Cargue la informacion solicitada completamente. Lista de formatos a descargar.<br><br>
                            <ul>
                                <li>
                                    <a target="_blank" href="https://dalelapata.narino.gov.co/archivos/cartaCompromiso.docx">
                                        Formato carta de compromiso
                                       </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://dalelapata.narino.gov.co/archivos/cuadroCenso.xls">
                                        Formato Censo excel
                                       </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://dalelapata.narino.gov.co/archivos/modeloCertificado.docx">
                                        Modelo Certificado
                                       </a>
                                </li>
                            </ul>         
                    </div>
             </div>
               <div class="col-lg-6">
                <div class="form-group">
                    <label>Cargar Rut (pdf)</label>
                    <input type="file" class="form-control" name="file1" (change)="onFileSelect1($event)">
                </div>
               </div>
               <div class="col-lg-6">
                      <div class="form-group">
                          <label>Carta de compromiso (pdf)</label>
                          <input type="file" class="form-control" name="file2" (change)="onFileSelect2($event)">
                      </div>
               </div>
               <div class="col-lg-12">
                    <div class="form-group">
                        <label>Censo archivo excel</label>
                        <input type="file" class="form-control" name="file3" (change)="onFileSelect3($event)">
                    </div>
               </div>
               <div class="col-lg-12">
                        <div class="form-group">
                            <button [disabled]="!formulario.valid"  title="Subir Documentos" class="btn btn-danger" (click)="subirArchivos()">
                                Subir Documentos</button>
                        </div>
                </div>
            </div>
            <div *ngIf="cargando">
                <div class="alert alert-danger" role="alert">
                  Cargando información al sistema... espere por favor..
                </div>
              </div>
            <div *ngIf="envioForm">
                <div class="alert alert-primary" role="alert">
                Se registraron archivos con éxito
                </div>
              </div>
        </div>
    </div>
    <hr>
    <!-- Div para mostrar lista documentos-->
    <div class="row">
       
        <div class="col-lg-12 mt-2">
            <h2>Lista de Documentos cargados</h2>
            <div class="table-responsive">
                    <table class="table table-info">
                       
                        <tbody class="itemTabla" *ngFor="let item of listaDocumentos">
                                <tr class="hoverTr">
                                    <th scope="col">ADJUNTO</th>
                                    <th scope="col">NOMBRE DEL ARCHIVO</th>  
                                    <th scope="col">FECHA REGISTRO</th>  
                                    <th scope="col">ESTADO</th>  
                                    <th scope="col">VER ARCHIVO</th>  
                                 
                                </tr>
                                <tr style="background-color: rgb(236, 236, 236);">   
                                    <td>Comentarios:</td>
                                    <td colspan="4">
                                        <p style="color: black;" *ngIf="item.comentario==null">
                                            No hay respuesta ni comentarios a la fecha!!!

                                        </p>
                                        <p style="color: black;" *ngIf="item.comentario!=null">
                                           {{item.comentario}}

                                        </p>
                                    </td>
                                </tr>
                             <tr style="background-color: aliceblue;">   
                                <td>Carta Compromiso</td>
                                <td>{{ item.cartaCompromiso}}</td>
                                <td>{{ item.fechaRegistro}}</td>
                                <td>{{ item.estado}}</td>
                                <td><a target="_blank" href="{{url}}unidadMovil/documentos/{{item.usuarioRegistro}}/{{item.cartaCompromiso}}"  title="Ver archivo" class="btn btn-danger btn-sm">
                                    Ver archivo</a></td>
                             </tr>
                             <tr style="background-color: aliceblue;">   
                                <td>Formato Censo Excel</td> 
                                <td>{{ item.formatoExcel}}</td>
                                <td>{{ item.fechaRegistro}}</td>
                                <td>{{ item.estado}}</td>
                                <td><a target="_blank" href="{{url}}unidadMovil/documentos/{{item.usuarioRegistro}}/{{item.formatoCenso}}"  title="Ver archivo" class="btn btn-danger btn-sm">
                                    Ver archivo</a></td>
                             </tr>  
                             <tr style="background-color: aliceblue;">   
                                <td>Rut</td> 
                                <td>{{ item.rut}}</td>
                                <td>{{ item.fechaRegistro}}</td>
                                <td>{{ item.estado}}</td>
                                <td><a target="_blank" href="{{url}}unidadMovil/documentos/{{item.usuarioRegistro}}/{{item.rut}}"  title="Ver archivo" class="btn btn-danger btn-sm">
                                    Ver archivo</a></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <!--Fin mostrar contratos-->
   
