<!-- Sidenav -->
<app-sidebar></app-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar></app-navbar>
  <!-- Pages -->
   <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 50px;">
    <!-- Mask -->
    <span class="mask bg-gradient-info opacity-8"></span>
    <!-- Header container -->
    
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Administración Banner Página Principal</h3>
              </div>
              
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="formulario">
              <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                              <label class="form-control-label">Nombre Imagen</label>
                              <input type="text" formControlName="nombre" placeholder="Nombre imagen" class="form-control form-control-alternative">
                                <div *ngIf="formulario.controls['nombre'].invalid && formulario.controls['nombre'].dirty" class="alert alert-danger" role="alert">
                                  Nombre del banner es necesario
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label class="form-control-label">Tipo</label>
                            <select formControlName="tipo" class="custom-select mr-sm-2">
                              <option value="Banner">Banner</option>
                              <option value="Aliado">Aliado</option>
                           </select>
                          </div>
                         
                          <div *ngIf="formulario.controls['tipo'].invalid && formulario.controls['tipo'].dirty" class="alert alert-danger" role="alert">
                            Tipo es necesario
                          </div>
                        </div>
                        

                        <div class="col-lg-6">
                          <div class="form-group">
                            <label>Url</label>
                            <input type="text" formControlName="descripcion" placeholder="Url del banner" rows="4" 
                            class="form-control form-control-alternative">
                              <div *ngIf="formulario.controls['descripcion'].invalid && formulario.controls['descripcion'].dirty" class="alert alert-danger" role="alert">
                                Descripción es necesario
                              </div>
                          </div>
                        </div>
                    </div><!-- fin row-->
              </div>
              <!-- Description -->
             

                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>Imagen</label>
                    <input type="file" class="form-control" name="avatar" (change)="onFileSelect($event)" />     
                  </div>
                </div>
            <div class="text-center">
                <button type="button" [disabled]="!formulario.valid" (click)="agregarBanner()" class="btn btn-primary">Registrar</button>
              </div>
            </form><hr>
            <div *ngIf="envioForm" class="alert alert-primary alert-dismissible fade show" role="alert">
              <strong>  Imagen se registrado con éxito</strong> 
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div><!-- fin card body-->
        </div>
      </div>
    </div>
  </div>

  <!-- inicio tabla lista banner-->
  <div class="container-fluid mt-2">
    <div class="row mt-4">
      <div class="col">   
        <div class="card shadow">
           <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8"> <h2 class="mb-0">Lista de Banner</h2> 
                      </div>
                    
                      </div>
                  </div>
              <dx-data-grid id="gridContainer" [showColumnLines]="false" [showRowLines]="true" [hoverStateEnabled]="true" 
              [rowAlternationEnabled]="true" [columnAutoWidth]="true" [dataSource]="listaBanner" noDataText="No se encontraron Datos" [showBorders]="true">
                <dxo-search-panel [visible]="true" [width]=540 placeholder="Buscar..."></dxo-search-panel>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [visible]="true" [showInfo]="true" infoText="Pagina {0} de {1} ({2} Visitas)" [showPageSizeSelector]="true">
                </dxo-pager>
                <dxo-load-panel [enabled]="true" text="Cargando..."></dxo-load-panel>
                <dxi-column dataField="nombre" alignment="center" caption="Nombre"></dxi-column>
                <dxi-column dataField="tipo" alignment="center" caption="Tipo"></dxi-column>
                <dxi-column dataField="descripcion" alignment="center" caption="Descripcion"></dxi-column>
                <dxi-column dataField="imagen" alignment="center" caption="Imagen"></dxi-column>
                <dxi-column dataField="estado" caption="Estado"></dxi-column>
        
                    <dxi-column caption="Acciones" cellTemplate="acciones"></dxi-column>
                    <div *dxTemplate="let d of 'acciones'">
                        
                      <button *ngIf="d.data.estado=='Activo'" (click)="cambiarEstado(d.data)" class="btn btn-primary btn-sm" title="Cambiar de estado">
                        {{d.data.estado}}</button>
                        <button *ngIf="d.data.estado=='Inactivo'" (click)="cambiarEstado(d.data)" class="btn btn-danger btn-sm" title="Cambiar de estado">
                            {{d.data.estado}}</button>           
                    </div>
            </dx-data-grid> 
        </div>
      </div>
    </div>
  </div>
</div>
<!--fin tabla banner-->

 <!-- inicio tabla lista aliados-->
 <div class="container-fluid mt-2">
  <div class="row mt-4">
    <div class="col">   
      <div class="card shadow">
         <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
              <div class="row align-items-center">
              <div class="col-8"> <h2 class="mb-0">Lista de Aliados</h2> 
              </div>
            
              </div>
          </div>
        <dx-data-grid id="gridContainer" [showColumnLines]="false" [showRowLines]="true" [hoverStateEnabled]="true" 
        [rowAlternationEnabled]="true" [columnAutoWidth]="true" [dataSource]="listaAliados" noDataText="No se encontraron Datos" [showBorders]="true">
          <dxo-search-panel [visible]="true" [width]=540 placeholder="Buscar..."></dxo-search-panel>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [visible]="true" [showInfo]="true" infoText="Pagina {0} de {1} ({2} Visitas)" [showPageSizeSelector]="true">
          </dxo-pager>
          <dxo-load-panel [enabled]="true" text="Cargando..."></dxo-load-panel>
          <dxi-column dataField="nombre" alignment="center" caption="Nombre"></dxi-column>
          <dxi-column dataField="tipo" alignment="center" caption="Tipo"></dxi-column>
          <dxi-column dataField="descripcion" alignment="center" caption="Descripcion"></dxi-column>
          <dxi-column dataField="imagen" alignment="center" caption="Imagen"></dxi-column>
          <dxi-column dataField="estado" caption="Estado"></dxi-column>
   
              <dxi-column caption="Acciones" cellTemplate="acciones"></dxi-column>
              <div *dxTemplate="let d of 'acciones'">
                  
                <button *ngIf="d.data.estado=='Activo'" (click)="cambiarEstado(d.data)" class="btn btn-primary btn-sm" title="Cambiar de estado">
                  {{d.data.estado}}</button>
                  <button *ngIf="d.data.estado=='Inactivo'" (click)="cambiarEstado(d.data)" class="btn btn-danger btn-sm" title="Cambiar de estado">
                      {{d.data.estado}}</button>           
              </div>
      </dx-data-grid> 
      </div>
    </div>
  </div>
</div>

<!--fin tabla aliados-->

</div>


  
  
  

 
  <router-outlet></router-outlet>

  <div class="container-fluid">
    <app-footer></app-footer>
  </div>