<nav
  class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mask !important"
  style="height: 100px; background-color: #2db3bf !important"
>
  <button
    class="navbar-toggler"
    (click)="isCollapsed = !isCollapsed"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <img
    title="Ir a pagina de inicio"
    (click)="inicio()"
    class="my-0 mr-md-auto font-weight-normal"
    src="assets/img/brand/icono.png"
    width="12%"
  />

  <!-- Collapse -->
  <div
    class="collapse navbar-collapse"
    [ngbCollapse]="isCollapsed"
    id="sidenav-collapse-main"
  >
    <!-- Collapse header -->
    <div class="navbar-collapse-header d-md-none">
      <div class="row">
        <div class="col-6 collapse-brand">
          <a routerLinkActive="active">
            <img src="assets/img/brand/icono.png" style="width: 20%" /><span
              style="font-weight: bold; color: #2db3bf"
              >Dale la Pata</span
            >
          </a>
        </div>
        <div class="col-6 collapse-close">
          <button
            type="button"
            class="navbar-toggler"
            (click)="isCollapsed = !isCollapsed"
          >
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
    <div style="padding: 10px" *ngIf="razonSocial != ''">
      <span
        style="font-weight: bold; font-size: 18px; color: rgb(255, 255, 255)"
      >
        Bienvenido: {{ razonSocial }}</span
      >
    </div>
    <hr class="my-3" />
    <ul class="navbar-nav ml-ml-3">
      <li class="nav-item">
        <a
          class="nav-link"
          style="font-weight: bold; font-size: 20px"
          routerLink="/pagAdopcion"
          >Adopción</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="font-weight: bold; font-size: 20px"
          routerLink="/unidadMovil"
          >Unidad Movil</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="font-weight: bold; font-size: 20px"
          routerLink="/listaCapsulas"
          >Dejando Huellas</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="font-weight: bold; font-size: 20px"
          routerLink="/fauna-silvestre"
          >Fauna Silvestre</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="font-weight: bold; font-size: 20px"
          routerLink="/buscarChip"
          >Busqueda Por Microchip</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="font-weight: bold; font-size: 20px"
          routerLink="/pagEventos"
          >Noticias</a
        >
      </li>
      <li *ngIf="isLogueado" class="nav-item">
        <a routerLink="/perfil-usuario" class="nav-link">
          <span
            style="
              font-weight: bold;
              font-size: 22px;
              color: rgb(232, 240, 123);
            "
            >Acceder a Perfil</span
          ></a
        >
      </li>
      <li *ngIf="!isLogueado" class="nav-item">
        <a
          routerLink="/registrarFundacion"
          style="font-weight: bold; font-size: 20px"
          class="nav-link"
          >Registrarse</a
        >
      </li>
      <li *ngIf="!isLogueado" class="nav-item">
        <a
          routerLink="/loginUser"
          style="font-weight: bold; font-size: 20px"
          class="nav-link"
          >Login</a
        >
      </li>
      <li *ngIf="isLogueado" class="nav-item">
        <a
          (click)="salir()"
          style="font-weight: bold; font-size: 20px"
          class="nav-link"
          >Salir</a
        >
      </li>
    </ul>
  </div>
</nav>
<br /><br /><br /><br />
<div style="background-image: url('assets/img/homePage/huellas.png')">
  <carousel>
    <slide *ngFor="let b of listaBanner">
      <a target="_blank" href="{{ b.descripcion }}"
        ><img
          src="{{ url }}adminBanner/img/{{ b.imagen }}"
          alt="{{ b.nombre }}"
          style="margin: auto; display: block; width: 100%"
      /></a>
      <div class="carousel-caption d-none d-md-block"></div>
    </slide>
  </carousel>
</div>

<app-menu-flotante></app-menu-flotante>
<div
  style="
    background-image: url('assets/img/pagAdopcion/fondoHuellas.png');
    background-attachment: fixed;
  "
>
  <div class="row">
    <div
      class="col-lg-12"
      style="
        font-size: 36px;
        color: white;
        text-align: center;
        font-weight: bold;
        background-color: #2db3bf;
      "
    >
      Capsulas Dale la pata
    </div>
  </div>
  <br /><br />
  <div
    class="container-fluid"
    style="
      margin-left: 80px;
      margin-right: 80px;
      width: 90%;
      background-image: linear-gradient(#88e5ee, rgb(245, 245, 241));
    "
  >
    <div class="row" padding>
      <div class="col-lg-12">
        <div class="row" padding>
          <div
            class="col-lg-3"
            style="margin-top: 15px; margin-bottom: 15px"
            *ngFor="let item of listaCapsulas"
          >
            <div
              class="card"
              style="
                padding: 8px;
                width: 100%;
                height: 100%;
                background-color: #f1f5f5;
                border-color: #2db3bf;
              "
            >
              <img
                src="https://dalelapata.narino.gov.co/ApiDalelapata/capsulas/img/{{
                  item.imgRepre
                }}"
                width="100%"
                height="45%"
              />
              <div class="card-body">
                <h2
                  style="text-align: justify; font-size: 15px !important"
                  class="card-title"
                >
                  {{ item.descripcion.substring(0, 120) | uppercase }}...
                </h2>
                <a
                  target="_blank"
                  type="button"
                  class="btn btn-info btn-lg btn-block"
                  style="background-color: #2db3bf; color: white"
                  href="{{ item.url }}"
                >
                  Ver video
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <!-- <div
  style="
    background-image: url('assets/img/pagAdopcion/fondoHuellas.png');
    background-attachment: fixed;
  "
>
  <div
    class="container"
    style="
      background-image: linear-gradient(#88e5ee, rgb(245, 245, 241));
      padding: 20px;
    "
  >
    <div class="row mb-3" style="border-color: black; padding: 20px">
      <div
        style="margin-top: 5px"
        class="col-md-3"
        *ngFor="let item of listaCapsulas"
      >
        <div
          class="card"
          style="
            padding: 8px;
            width: 100%;
            height: 100%;
            background-color: #f1f5f5;
            border-color: #2db3bf;
          "
        >
          <video
            src="{{ item.url }}"
            poster="assets/img/brand/icono.png"
            width="380"
            height="200"
          ></video>
          <div class="card-body">
            <h2
              style="text-align: justify; font-size: 15px !important"
              class="card-title"
            >
              {{ item.descripcion | uppercase }}
            </h2>
            <button
              type="button"
              class="btn btn-info btn-lg btn-block"
              style="background-color: #2db3bf; color: white"
              routerLink="{{ item.url }}"
            >
              Ver video
            </button>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div> -->
  <!-- modal lista lectores-->

  <app-footer-paginas></app-footer-paginas>
</div>
