<!-- Sidenav -->
<app-sidebar></app-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar></app-navbar>
  <!-- Pages -->
  <div
    class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 50px"
  >
    <!-- Mask -->
    <span class="mask bg-gradient-info opacity-8"></span>
    <!-- Header container -->
  </div>

    
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-5">
                <h3 class="mb-0">
                  Lista de documentos adjuntados por :{{ dato.nombreMunicipio }}
                </h3>
                <br />
               </div>
              <div class="col-7">
                  <div >
                      <form [formGroup]="formFecha" style="display: flex; justify-content: start">
                          <select style="width: 250px; margin-right: 5px ;" class="form-control" formControlName="nit">
                            <option value="">Seleccione Nit</option>
                            <option value="{{nit.usuarioRegistro}}" *ngFor="let nit of listaNitRegistrados">{{nit.usuarioRegistro}}</option>
                          </select>
                          <input style="width: 150px; margin-right: 5px ;" class="form-control" formControlName="fecha" type="date">
                          <input style="width: 150px; margin-right: 5px ;" class="form-control" formControlName="fecha2" type="date">
                          <button [disabled]="!formFecha.valid" class="btn btn-primary" (click)="asignarFechaVisita()">
                            Asignar Fecha Visita
                          </button>
                      </form>
                  </div>
                <br />
           </div>
            </div>
            <div *ngIf="estadoRegistro" class="alert alert-success" role="alert">
              Se registro la fecha de visita correctamente.
            </div>
          </div>

          <!-- Div para mostrar lista documentos-->
          <div class="row">
            <div class="col-lg-12 mt-2">
              <div class="table-responsive">
                <table class="table table-info">
                  <tbody class="itemTabla">
                    <tr class="hoverTr">
                      <th scope="col">QUIEN CARGO</th>
                      <th scope="col">MODIFICO</th>
                      <th scope="col">FECHA PROGRAMADA INICIAL</th>
                      <th scope="col">FECHA PROGRAMADA FINAL</th>
                      <th scope="col">ADJUNTO</th>
                      <th scope="col">FECHA REGISTRO</th>
                      <th scope="col">ESTADO</th>
                      <th scope="col">ASIGNAR COMENTARIO</th>
                      <th scope="col">EDITAR COMENTARIO</th>
                      <th scope="col">VER ARCHIVO</th>
                    </tr>

                    <tr
                      style="background-color: aliceblue"
                      *ngFor="let item of listaDocumentos"
                    >
                      <td>{{ item.usuarioRegistro }}</td>
                      <td>{{ item.usuarioComento }}</td>
                      <td>{{ item.fechaVisitaProgramada }}</td>
                      <td>{{ item.fechaVisitaProgramadaFin }}</td>
                      <td>{{ item.tipoArchivo }}</td>
                      <td>{{ item.fechaRegistro }}</td>
                      <td>
                        <button
                          *ngIf="item.estado == 'Pendiente'"
                          type="button"
                          class="btn btn-success btn-sm"
                        >
                          {{ item.estado }}
                        </button>
                        <button
                          *ngIf="item.estado == 'Revision'"
                          type="button"
                          class="btn btn-warning btn-sm"
                        >
                          {{ item.estado }}
                        </button>
                        <button
                          *ngIf="item.estado == 'Rechazado'"
                          type="button"
                          class="btn btn-danger btn-sm"
                        >
                          {{ item.estado }}
                        </button>
                        <button
                          *ngIf="item.estado == 'Aceptado'"
                          type="button"
                          class="btn btn-info btn-sm"
                        >
                          {{ item.estado }}
                        </button>
                      </td>
                      <td
                        *ngIf="item.comentario == null || item.comentario == ''"
                      >
                        <button
                          (click)="asignarComentario(item)"
                          type="button"
                          class="btn btn-light btn-sm"
                          title="Asignar comentario a documento"
                        >
                          Asignar comentario
                        </button>
                      </td>
                      <td
                        *ngIf="item.comentario != null || item.comentario == ''"
                      >
                        {{ item.comentario }}
                      </td>

                      <td>
                        <button
                          (click)="editarComentario(item)"
                          type="button"
                          class="btn btn-primary btn-sm"
                          title="editar comentario"
                        >
                          editar
                        </button>
                      </td>
                      <td>
                        <a
                          style="color: white !important"
                          target="_blank"
                          href="{{ url }}unidadMovil/documentos/{{
                            item.usuarioRegistro
                          }}/{{ item.nombreArchivo }}"
                          title="Ver archivo"
                          class="btn btn-danger btn-sm"
                        >
                          Ver archivo</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
                <hr />

                <form [formGroup]="formRespuesta" *ngIf="bandera">
                  <h3 style="margin-left: 15px">
                    Diligenciar respuesta a enviar al usuario.
                  </h3>
                  <br />
                  <table style="margin: 20px">
                    <tr>
                      <td>Comentarios</td>
                      <td>
                        <textarea
                          class="form-control"
                          cols="70"
                          rows="4"
                          formControlName="comentarios"
                          placeholder="Describa la respuesta a enviar al usuario."
                        ></textarea>
                        <div
                          *ngIf="
                            formRespuesta.controls['comentarios'].invalid &&
                            formRespuesta.controls['comentarios'].dirty
                          "
                          class="alert alert-danger"
                          role="alert"
                        >
                          Comentarios es un campo necesario!!!
                        </div>
                      </td>
                    </tr>
                    <br />
                    <tr>
                      <td>Estado:</td>
                      <td>
                        <select class="form-control" formControlName="estado">
                          <option value="no">Seleccione estado</option>
                          <option value="Revision">Revisión</option>
                          <option value="Pendiente">Pendiente</option>
                          <option value="Rechazado">Rechazado</option>
                          <option value="Aceptado">Aceptado</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="text-center">
                          <button
                            [disabled]="!formRespuesta.valid"
                            (click)="agregarRespuesta()"
                            type="button"
                            class="btn btn-primary my-4"
                            title="Registrar respuesta"
                          >
                            Aceptar
                          </button>
                          <button
                            (click)="cancelarRespuesta()"
                            type="button"
                            class="btn btn-info my-4"
                            title="cancelar respuesta"
                          >
                            Cancelar
                          </button>
                        </div>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
            </div>
          </div>
          <!--Fin mostrar contratos-->
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>




